<!doctype html>
<html>
  <head>
    <title>Simple Chat by @vaibhavgeek</title>
   

   <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
 </head>
 <body>
 <br/>
<div class='well'>
Hello! I am shree. I am here to help you learn Vedic Maths.
</div>
<div class='well'>
Based on the sixteen sutras, vedic maths is practically the only magical principle you need to tackle anything from simple arithmetic to algebra, algorithms, square roots, cube roots and many more mathematical concepts.
</div>
<div class="well">
Before we can learn, Shree would need some information first. 
</div>
<div class='well'>
<form method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input type="email" class="form-control" placeholder="Full Name">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>

</form>
</div>
<div style="position:absolute; bottom:0px; width:100%;" class="well"> 
  <button type="submit" class="btn btn-primary btn-block">Start Chatting</button>

</div>
</body>
</html>